body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #060b1a;
  color: white;
}

header {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(to right, #0b1d3a, #301934);
}

h1 {
  font-size: 42px;
}

#searchBar {
  padding: 12px;
  width: 60%;
  border-radius: 20px;
  border: none;
  font-size: 16px;
}

.hero, .card {
  margin: 30px auto;
  padding: 30px;
  width: 80%;
  background: rgba(255,255,255,0.08);
  border-radius: 20px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}
.hero, .card {
  animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.orbit-box {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 40px auto;
  border: 2px dashed rgba(255,255,255,0.4);
  border-radius: 50%;
}

.earth {
  position: absolute;
  font-size: 60px;
  top: 90px;
  left: 95px;
}

.satellite {
  position: absolute;
  font-size: 30px;
  top: 10px;
  left: 105px;
  animation: orbit 5s linear infinite;
  transform-origin: 20px 115px;
}

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}